SMA-infinimesh
[{"id":"af21eb94.cd5258","type":"tab","label":"Solar-Home","disabled":false,"info":""},{"id":"e9f381cc.b62c6","type":"mqtt out","z":"af21eb94.cd5258","name":"IF","topic":"devices/0x7/state/reported/delta","qos":"","retain":"","broker":"cb92e53c.e57ae8","x":1390,"y":680,"wires":[]},{"id":"cd898db9.83359","type":"smartpi-input","z":"af21eb94.cd5258","name":"power-total","indicator":"p","x":190,"y":200,"wires":[["51828e06.2d25c"]]},{"id":"129e2ca2.541e23","type":"smartpi-input","z":"af21eb94.cd5258","name":"power-p1","indicator":"p1","x":190,"y":240,"wires":[["1803ef4.533f811"]]},{"id":"5769d450.d1abcc","type":"smartpi-input","z":"af21eb94.cd5258","name":"power-p2","indicator":"p2","x":190,"y":280,"wires":[["3c32f082.e8595"]]},{"id":"979b14b8.0c9918","type":"smartpi-input","z":"af21eb94.cd5258","name":"power-p3","indicator":"p3","x":190,"y":320,"wires":[["f106a217.6ebca"]]},{"id":"ddb903ef.58a23","type":"smartpi-input","z":"af21eb94.cd5258","name":"current-total","indicator":"i","x":190,"y":380,"wires":[["a4f473c6.20f5e"]]},{"id":"77e91ec1.7f4f6","type":"smartpi-input","z":"af21eb94.cd5258","name":"current-p1","indicator":"i1","x":190,"y":420,"wires":[["aa42d03d.78025"]]},{"id":"3b216a7f.b56bc6","type":"smartpi-input","z":"af21eb94.cd5258","name":"current-p2","indicator":"i2","x":190,"y":460,"wires":[["1e7e48cc.9ac777"]]},{"id":"78e69574.db44ac","type":"smartpi-input","z":"af21eb94.cd5258","name":"current-p3","indicator":"i3","x":190,"y":500,"wires":[["b3fe7e6a.5925c"]]},{"id":"d0a755e1.0218a8","type":"smartpi-input","z":"af21eb94.cd5258","name":"voltage-p1","indicator":"v1","x":190,"y":560,"wires":[["8b70d11e.db216"]]},{"id":"242004e3.30681c","type":"smartpi-input","z":"af21eb94.cd5258","name":"voltage-p2","indicator":"v2","x":190,"y":600,"wires":[["b1256f9e.3b581"]]},{"id":"bf91b212.2e263","type":"smartpi-input","z":"af21eb94.cd5258","name":"voltage-p3","indicator":"v3","x":190,"y":640,"wires":[["955eda17.edc348"]]},{"id":"51828e06.2d25c","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-total","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["9c086a31.689868"]]},{"id":"1803ef4.533f811","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-p1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["9c086a31.689868"]]},{"id":"3c32f082.e8595","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-p2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["9c086a31.689868"]]},{"id":"f106a217.6ebca","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-p3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["9c086a31.689868"]]},{"id":"a4f473c6.20f5e","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-total","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[["9c086a31.689868"]]},{"id":"aa42d03d.78025","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-p1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":420,"wires":[["9c086a31.689868"]]},{"id":"1e7e48cc.9ac777","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-p2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":460,"wires":[["9c086a31.689868"]]},{"id":"b3fe7e6a.5925c","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-p3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":500,"wires":[["9c086a31.689868"]]},{"id":"8b70d11e.db216","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"voltage-p1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":560,"wires":[["9c086a31.689868"]]},{"id":"b1256f9e.3b581","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"voltage-p2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":600,"wires":[["9c086a31.689868"]]},{"id":"955eda17.edc348","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"voltage-p3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["9c086a31.689868"]]},{"id":"9c086a31.689868","type":"join","z":"af21eb94.cd5258","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":720,"wires":[["e9f381cc.b62c6","5899f4c3.c68afc"]]},{"id":"665b7c98.d21ae4","type":"inject","z":"af21eb94.cd5258","name":"per sec","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1080,"wires":[["e9fb7db2.52502","912a9396.df588","1ac2d72f.541ef9","a7936da5.2c20f","c31d8f51.efa16","d6137da0.d48cf","9dd3e19c.55828","f159d55b.7d7ef8","8e862ed.4d126d","e3d90366.71de1"]]},{"id":"f82c1a5e.d2d3d8","type":"modbus-flex-getter","z":"af21eb94.cd5258","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fcdca2e3.7263","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":650,"y":920,"wires":[["b13b8217.ed27c"],[]]},{"id":"160dcd76.a01123","type":"function","z":"af21eb94.cd5258","name":"day_yield","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30535, \n    'quantity' : 2 }; \nmsg.topic = \"day_yield\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1420,"wires":[["b1f51efc.e81fb"]]},{"id":"c2100691.e4e068","type":"function","z":"af21eb94.cd5258","name":"yield_total","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30531, \n    'quantity' : 2 }; \nmsg.topic = \"yield_total\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1460,"wires":[["b1f51efc.e81fb"]]},{"id":"e9fb7db2.52502","type":"function","z":"af21eb94.cd5258","name":"dc_input","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30775, \n    'quantity' : 2 }; \nmsg.topic = \"dc_input\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":900,"wires":[["b1f51efc.e81fb"]]},{"id":"9dd3e19c.55828","type":"function","z":"af21eb94.cd5258","name":"grid_freq","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30803, \n    'quantity' : 2 }; \nmsg.topic = \"grid_freq\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1040,"wires":[["f82c1a5e.d2d3d8"]]},{"id":"1ac2d72f.541ef9","type":"function","z":"af21eb94.cd5258","name":"grid_phase_A","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30783, \n    'quantity' : 2 }; \nmsg.topic = \"grid_phase_A\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1080,"wires":[["f82c1a5e.d2d3d8"]]},{"id":"a7936da5.2c20f","type":"function","z":"af21eb94.cd5258","name":"grid_phase_B","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30785, \n    'quantity' : 2 }; \nmsg.topic = \"grid_phase_B\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1120,"wires":[["f82c1a5e.d2d3d8"]]},{"id":"c31d8f51.efa16","type":"function","z":"af21eb94.cd5258","name":"grid_phase_C","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30787, \n    'quantity' : 2 }; \nmsg.topic = \"grid_phase_C\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1160,"wires":[["f82c1a5e.d2d3d8"]]},{"id":"d6137da0.d48cf","type":"function","z":"af21eb94.cd5258","name":"grid_current","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30795, \n    'quantity' : 2 }; \nmsg.topic = \"grid_current_ampere\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1200,"wires":[["b1f51efc.e81fb"]]},{"id":"b83080cd.e43ad","type":"inject","z":"af21eb94.cd5258","name":"every 15 min","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1420,"wires":[["160dcd76.a01123","c2100691.e4e068","7155f586.f9e05c"]]},{"id":"7155f586.f9e05c","type":"function","z":"af21eb94.cd5258","name":"time_feed_grid","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30543, \n    'quantity' : 2 }; \nmsg.topic = \"time_feed_grid\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1500,"wires":[[]]},{"id":"b13b8217.ed27c","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"delete","p":"payload[0]","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1100,"wires":[["2e7d1944.9ddaa6","431d797d.306598"]]},{"id":"2e7d1944.9ddaa6","type":"function","z":"af21eb94.cd5258","name":"decimal","func":"msg.payload = Number(msg.payload) / 100.00;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1080,"wires":[["9c086a31.689868"]]},{"id":"912a9396.df588","type":"function","z":"af21eb94.cd5258","name":"dc_inc_volt_A","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30771, \n    'quantity' : 2 }; \nmsg.topic = \"dc_inc_volt_A\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1000,"wires":[["f82c1a5e.d2d3d8"]]},{"id":"5899f4c3.c68afc","type":"mqtt out","z":"af21eb94.cd5258","d":true,"name":"IF-DEV","topic":"devices/0x13921/state/reported/delta","qos":"","retain":"","broker":"45fc3f03.cb912","x":1380,"y":760,"wires":[]},{"id":"b1f51efc.e81fb","type":"modbus-flex-getter","z":"af21eb94.cd5258","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fcdca2e3.7263","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":650,"y":860,"wires":[["f58848b3.add3f8"],[]]},{"id":"ee3102fe.c8e2f","type":"function","z":"af21eb94.cd5258","name":"raw","func":"msg.payload = Number(msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":900,"wires":[["9c086a31.689868"]]},{"id":"f58848b3.add3f8","type":"change","z":"af21eb94.cd5258","name":"","rules":[{"t":"delete","p":"payload[0]","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1040,"wires":[["ee3102fe.c8e2f"]]},{"id":"f159d55b.7d7ef8","type":"function","z":"af21eb94.cd5258","name":"ac_realpower","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30775, \n    'quantity' : 2 }; \nmsg.topic = \"ac_realpower\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1240,"wires":[["b1f51efc.e81fb"]]},{"id":"8e862ed.4d126d","type":"function","z":"af21eb94.cd5258","name":"reactive_power","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30805, \n    'quantity' : 2 }; \nmsg.topic = \"reactive_power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":960,"wires":[["f82c1a5e.d2d3d8"]]},{"id":"e3d90366.71de1","type":"function","z":"af21eb94.cd5258","name":"apparent_power","func":"msg.payload = { \n    'fc' : 4, \n    'unitid' : 3,\n    'address' : 30813, \n    'quantity' : 2 }; \nmsg.topic = \"apparent_power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1280,"wires":[["f82c1a5e.d2d3d8"]]},{"id":"431d797d.306598","type":"debug","z":"af21eb94.cd5258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":1360,"wires":[]},{"id":"cb92e53c.e57ae8","type":"mqtt-broker","z":"","name":"IF","broker":"mqtt.api.infinimesh.io","port":"8883","tls":"6037ec07.059614","clientid":"sm-07","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fcdca2e3.7263","type":"modbus-client","z":"","name":"SMA Inverter","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.4.48","tcpPort":"502","tcpType":"TPC-RTU-BUFFERED","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":3,"commandDelay":200,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"45fc3f03.cb912","type":"mqtt-broker","z":"","name":"IF-DEV","broker":"mqtt.api.infinimesh.dev","port":"8883","tls":"6037ec07.059614","clientid":"sma_inverter_01","usetls":true,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6037ec07.059614","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"smartmeter1.crt","keyname":"smartmeter1.key","caname":"ca-certificates.crt","servername":"","verifyservercert":true}]
