smartpi
[{"id":"1bdc3ef5.bec041","type":"smartpi-input","z":"bd0b241b.b63328","name":"power-p1","indicator":"p1","x":130,"y":160,"wires":[["a8df6e85.dcb61"]]},{"id":"1a49f553.7bdb9b","type":"smartpi-input","z":"bd0b241b.b63328","name":"power-p2","indicator":"p2","x":130,"y":200,"wires":[["9d1b8ac0.dcae98"]]},{"id":"1c0363ba.e9468c","type":"smartpi-input","z":"bd0b241b.b63328","name":"power-p3","indicator":"p3","x":130,"y":240,"wires":[["688cf685.c3b0c8"]]},{"id":"d7966c74.921ed","type":"smartpi-input","z":"bd0b241b.b63328","name":"power-total","indicator":"p","x":130,"y":120,"wires":[["e7b026f1.560ba8"]],"outputLabels":["power-total"]},{"id":"da5ad908.29fec8","type":"smartpi-input","z":"bd0b241b.b63328","name":"current-total","indicator":"i","x":130,"y":320,"wires":[["88252f35.11e65"]]},{"id":"95250dd8.1fca7","type":"smartpi-input","z":"bd0b241b.b63328","name":"current-p2","indicator":"i2","x":130,"y":400,"wires":[["3128c9f3.2d3da6"]]},{"id":"b98c33f7.12973","type":"smartpi-input","z":"bd0b241b.b63328","name":"current-p3","indicator":"i3","x":130,"y":440,"wires":[["fee874ce.834e88"]]},{"id":"f1593dc9.8c9e1","type":"smartpi-input","z":"bd0b241b.b63328","name":"current-p1","indicator":"i1","x":130,"y":360,"wires":[["4476c075.75876"]]},{"id":"691c26b.0f993d8","type":"smartpi-input","z":"bd0b241b.b63328","name":"voltage-p1","indicator":"v1","x":130,"y":520,"wires":[["79ca01a2.12d7d"]]},{"id":"77781cf6.d84394","type":"smartpi-input","z":"bd0b241b.b63328","name":"voltage-p2","indicator":"v2","x":130,"y":560,"wires":[["8133b59d.707f48"]]},{"id":"a0da034b.cd626","type":"smartpi-input","z":"bd0b241b.b63328","name":"voltage-p3","indicator":"v3","x":130,"y":600,"wires":[["1f582fd0.24772"]]},{"id":"688cf685.c3b0c8","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-p3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":369,"y":240,"wires":[["d99122b9.0e2c1"]]},{"id":"d99122b9.0e2c1","type":"join","z":"bd0b241b.b63328","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":380,"wires":[["9b54e2bc.06e308","781db214.7928bc"]]},{"id":"9d1b8ac0.dcae98","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-p2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":367,"y":199,"wires":[["d99122b9.0e2c1"]]},{"id":"a8df6e85.dcb61","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-p1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":366,"y":161,"wires":[["d99122b9.0e2c1"]]},{"id":"e7b026f1.560ba8","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"power-total","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":367,"y":118,"wires":[["d99122b9.0e2c1"]]},{"id":"88252f35.11e65","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-total","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":320,"wires":[["d99122b9.0e2c1"]]},{"id":"4476c075.75876","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-p1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":363,"y":361,"wires":[["d99122b9.0e2c1"]]},{"id":"3128c9f3.2d3da6","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-p2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":403,"wires":[["d99122b9.0e2c1"]]},{"id":"fee874ce.834e88","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"current-p3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":363,"y":440,"wires":[["d99122b9.0e2c1"]]},{"id":"79ca01a2.12d7d","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"voltage-p1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":361,"y":519,"wires":[["d99122b9.0e2c1"]]},{"id":"8133b59d.707f48","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"voltage-p2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":561,"wires":[["d99122b9.0e2c1"]]},{"id":"1f582fd0.24772","type":"change","z":"bd0b241b.b63328","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"voltage-p3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":356,"y":601,"wires":[["d99122b9.0e2c1"]]},{"id":"781db214.7928bc","type":"mqtt out","z":"bd0b241b.b63328","name":"ionos","topic":"devices/0x4/state/reported/delta","qos":"","retain":"","broker":"f83f12f7.7c212","x":950,"y":380,"wires":[]},{"id":"f603cdc9.ab37e8","type":"ping","z":"bd0b241b.b63328","name":"api-ping","host":"api.ionos.iot.de","timer":"20","x":380,"y":920,"wires":[["d99122b9.0e2c1"]]},{"id":"9b54e2bc.06e308","type":"debug","z":"bd0b241b.b63328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":160,"wires":[]},{"id":"f83f12f7.7c212","type":"mqtt-broker","z":"","name":"ionos","broker":"mqtt.api.ionos-iot.de","port":"8883","tls":"e39c9e0e.67a34","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e39c9e0e.67a34","type":"tls-config","z":"","name":"infinimesh","cert":"","key":"","ca":"","certname":"smartmeter1.crt","keyname":"smartmeter1.key","caname":"ca-certificates.crt","servername":"","verifyservercert":true}]
